body {
    background-image: url(../images/concrete_seamless.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

header {
    float: left;
    width: 100%;
    background-color: #ffffff;
    margin: 0 0 40px 0;
    border-bottom-color: #cccccc;
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    padding: 20px;
    font-size: 24px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-size: 18px;
}

ul {
    float: right;
}

li {
    display: inline-block;
    margin: 20px 0 0 20px;
}

.img1 {
    float: left;
    margin: 0 20px 20px 0;
}

#wrapper {
    margin: 0 auto;
    padding: 0;
    width: 960px;
}

#main {
    background-color: #ffffff;
    height: auto;
    padding: 20px;
    clear: left;
}

#about1 {
    float: left;
    clear: right;
    padding: 20px;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
}

#footer-style {
    background-color: #666666;
    height: auto;
    padding: 20px;
    clear: left;

}